# Frontend

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/.local
/.cursor

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?



# Backend
backend/__pycache__/
backend/*.pyc
backend/.env.dev
backend/.env.prod
backend/.env.current
backend/.idea
backend/.vscode
backend/.pytest_cache
backend/.ruff_cache
backend/storage
backend/*.pyc
backend/.env.dev
backend/.env.prod
backend/.env.current
backend/.venv